.product-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.photo-container {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 4px;
}

.photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.discount {
  font-weight: bold;
}
